bidict==0.21.2
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
colorama==0.4.4
dnspython==1.16.0
eventlet==0.31.0
Flask==1.1.2
Flask-SocketIO==5.0.1
greenlet==1.1.0
halo==0.0.31
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.3
log-symbols==0.0.14
MarkupSafe==1.1.1
peewee==3.14.4
psutil==5.8.0
python-engineio==4.1.0
python-socketio==5.2.1
requests==2.25.1
six==1.16.0
spinners==0.0.24
termcolor==1.1.0
urllib3==1.26.4
websocket-client==1.0.1
Werkzeug==1.0.1
